Options -MultiViews
RewriteEngine On

# Google doğrulama dosyalarını doğrudan sun, yönlendirme yapma
RewriteRule ^google[0-9a-f]+\.html$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
